#book-content {
    /** set default variables for restoring */
    --default-font-size: 16px;
    --default-p-spacing: 32px;
    --default-line-height: 24px;
    --default-font-family: 'Noto Sans', 'Trebuchet MS', Verdana, Arial, sans-serif;

    /** set changeable variables */
    --reader-font-size: var(--default-font-size);
    --reader-code-size: calc(var(--reader-font-size) - 2px);
    --reader-p-spacing: var(--default-p-spacing);
    --reader-blockp-spacing: calc(var(--reader-p-spacing) - 16px);
    --reader-line-height: var(--default-line-height);
    --reader-font-family: var(--default-font-family);

    /** explicitly set values */
    font-family: var(--reader-font-family);
    line-height: var(--reader-line-height);
    font-size: var(--reader-font-size);
}
#book-content blockquote {
    border-left: 3px solid var(--accent-light);
    margin-left: 0;
    padding-left: 2rem;
    margin-bottom: var(--reader-p-spacing);
    margin-top: var(--reader-p-spacing);
}
.chapter-number {
    text-align: center;
    font-size: 72px;
    color: var(--accent-light);
    margin-top: 50px;
    font-family: 'Astloch', 'Open Sans', sans-serif;
}
.chapter-title {
    font-family: 'Flamenco', 'Open Sans', sans-serif;
    color: var(--accent-dark);
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    font-variant: normal;
}
.chapter-heading-end {
    margin: 30px auto 60px;
    max-width: 20ch;
    border-bottom: 3px dotted var(--accent-midtone);
}
.container {
    margin-top: 80px;
    max-width: 70ch;
}
hr {
    color: var(--accent-light);
    text-align: center;
    display: block;
    line-height: 1px;
    height: 1px;
    margin: calc(var(--reader-p-spacing) * 2) auto;
    width: 80%;
}
hr::before {
    content: '\00A7';
    font-family:'Times New Roman', Times, serif;
    color: var(--accent-light);
    font-size: 4rem;
    position: absolute;
    left: calc(50% - 0.5ch);
    transform: rotate(90deg);
    transform-origin: center;
    opacity: .6;
    z-index: -999;
}
#book-content p {
    margin-bottom: var(--reader-p-spacing);
}
#book-content > blockquote p {
    margin-bottom: var(--reader-blockp-spacing);
}
#book-content code {
    background-color: var(--accent-ultralight);
    font-family: 'Roboto Mono', 'Source Code Pro', 'Courier New', Courier, monospace;
    border-radius: 5px;
    padding: 1px 3px;
    font-size: var(--reader-code-size);
}
#book-content .announcement {
    background-color: var(--accent-ultralight);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Mono', 'Source Code Pro', 'Courier New', Courier, monospace;
    font-size: var(--reader-code-size);
}
#book-content .announcement p {
    margin-bottom: 0;
}
#book-content .announcement p:first-child {
    margin-top: 0;
}
/* ------------ DETAIL/SPOILER CONTAINERS ----------- */
#book-content details {
    border-radius: 0.25rem;
    border: 1px solid var(--accent-ultralight);
    overflow: hidden;
    margin-bottom: 1rem;
}
#book-content details summary::marker {
    display: none;
    content: '';
}
#book-content details summary::after {
    float: right;
    content: '+';
    font-family: 'Courier New', monospace;
    line-height: var(--reader-line-height);
    font-size: calc(2 * var(--reader-font-size));
}
#book-content details[open] summary::after {
    float: right;
    content: '-';
}
#book-content details summary {
    background-color: var(--accent-ultralight);
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    font-family: 'Arvo', serif;
    font-weight: bold;
    color: var(--accent-dark);
    cursor: pointer;
} 
#book-content details .detail-content {
    padding: 1rem;
    columns: 2;
} 
#book-content details .detail-chapter {
    display: block;
} 