#book-content {
    /** set default variables for restoring */
    --default-font-size: 16px;
    --default-p-spacing: 32px;
    --default-line-height: 24px;
    --default-font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;

    /** set changeable variables */
    --reader-font-size: var(--default-font-size);
    --reader-code-size: calc(var(--reader-font-size) - 2px);
    --reader-p-spacing: var(--default-p-spacing);
    --reader-blockp-spacing: calc(var(--reader-p-spacing) - 16px);
    --reader-line-height: var(--default-line-height);
    --reader-font-family: var(--default-font-family);

    /** explicitly set values */
    font-family: var(--reader-font-family);
    line-height: var(--reader-line-height);
    font-size: var(--reader-font-size);
}
#book-content blockquote {
    border-left: 3px solid var(--accent-light);
    margin-left: 0;
    padding-left: 2rem;
    margin-bottom: var(--reader-p-spacing);
    margin-top: var(--reader-p-spacing);
}
.chapter-number {
    text-align: center;
    font-size: 72px;
    color: var(--accent-light);
    margin-top: 50px;
    font-family: 'Astloch', 'Open Sans', sans-serif;
}
.chapter-title {
    font-family: 'Flamenco', 'Open Sans', sans-serif;
    color: var(--accent-dark);
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    font-variant: normal;
}
.chapter-heading-end {
    margin: 30px auto 60px;
    max-width: 20ch;
    border-bottom: 3px dotted var(--accent-midtone);
}
.container {
    margin-top: 80px;
    max-width: 70ch;
}
hr {
    color: var(--accent-light);
    text-align: center;
    display: block;
    line-height: 1px;
    height: 1px;
    margin: 2rem auto;
    width: 80%;
}
hr::before {
    content: '\00A7';
    font-family:'Times New Roman', Times, serif;
    color: var(--accent-light);
    font-size: 4rem;
    position: absolute;
    left: 50%;
    transform: rotate(90deg);
    transform-origin: center;
    opacity: .6;
    z-index: -999;
}
#book-content p {
    margin-bottom: var(--reader-p-spacing);
}
#book-content > blockquote p {
    margin-bottom: var(--reader-blockp-spacing);
}
#book-content code {
    background-color: var(--accent-ultralight);
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    border-radius: 5px;
    font-size: var(--reader-code-size);
}
