:root {
    --main-bg-color: #ffffff;
    --body-bg: #f1fbf3;
    --text-body: #000;
    --accent-shadow: #07231a;
    --accent-dark: #245343;
    --accent-midtone: #5B744C;
    --accent-contrast-dark: #461905;
    --accent-contrast-light: #d55a26;
    --accent-light: #9dcbb8;
    --accent-ultralight: #dcf0e8;
}