html, html.light {
    --main-bg-color: #ffffff;
    --dark-bg-color: #0B0B0B;
    --body-bg: #f1fbf3;
    --text-body: #000;
    --accent-shadow: #07231a;
    --accent-dark: #245343;
    --accent-midtone: #5B744C;
    --accent-contrast-dark: #461905;
    --accent-contrast-light: #d55a26;
    --accent-light: #9dcbb8;
    --accent-ultralight: #dcf0e8;
    --body-font: #0B0B0B;
    --commentbox-wrapper: var(--accent-ultralight);
    --insect-navlink-bg: var(--accent-dark);
    --insect-navlink-text: var(--accent-light);
    --insect-navlink-bg-hover: var(--accent-contrast-light);
    --insect-navlink-text-hover: var(--accent-contrast-dark);
    --insect-body-header: var(--accent-dark);
    --reader-navbar-bg: var(--accent-dark);
    --reader-navbar-links: var(--accent-light);
}

html.dark {
    --main-bg-color: #0B0B0B;
    --dark-bg-color: #0B0B0B;
    --body-bg: #191919;
    --text-body: #000;
    --accent-shadow: #0c7f5b;
    --accent-dark: #44b686;
    --accent-midtone: #5d8845;
    --accent-light: #103d2a;
    --accent-ultralight: #172d24;
    --body-font: #e1e1e1;
    --accent-contrast-light: #ff7a41;
    --commentbox-wrapper: var(--accent-midtone);
    --insect-navlink-bg: var(--accent-light);
    --insect-navlink-text: var(--accent-dark);
    --insect-navlink-bg-hover: var(--accent-contrast-light);
    --insect-navlink-text-hover: var(--accent-contrast-dark);
    --insect-body-header: var(--accent-shadow);
    --reader-navbar-bg: var(--accent-light);
    --reader-navbar-links: var(--accent-dark);
}

@media screen and (prefers-color-scheme: dark) {
    /* Dark mode styles */
    html {
        --main-bg-color: #0B0B0B;
        --dark-bg-color: #0B0B0B;
        --body-bg: #191919;
        --text-body: #000;
        --accent-shadow: #0c7f5b;
        --accent-dark: #44b686;
        --accent-midtone: #496539;
        --accent-light: #103d2a;
        --accent-ultralight: #172d24;
        --body-font: #c4c4c4;
        --commentbox-wrapper: var(--accent-midtone);
        --insect-navlink-bg: var(--accent-light);
        --insect-navlink-text: var(--accent-dark);
        --insect-navlink-bg-hover: var(--accent-contrast-light);
        --insect-navlink-text-hover: var(--accent-contrast-dark);
        --insect-body-header: var(--accent-shadow);
        --reader-navbar-bg: var(--accent-light);
        --reader-navbar-links: var(--accent-dark);
    }
}