---
import InsectSplashLayout from "../layouts/InsectSplashLayout.astro";
const pageTitle = "About";
---
<InsectSplashLayout pageTitle={pageTitle}>
  <h2>About</h2>
  <p>Artist, writer, and software developer.</p>
  <p>Insect and invertebrate enthusiast.</p>
  <p>If you read my stories carefully, you can see that all my favorite themes have remained unchanged for the past 10 years.</p>
  <p>Feel free to contact me at <a>skolomorphic@protonmail.com</a>.</p>
</InsectSplashLayout>