---
import InsectSplashLayout from "../layouts/InsectSplashLayout.astro";
const pageTitle = "Index";
---
<InsectSplashLayout pageTitle={pageTitle}>
  <h2>Welcome to my page</h2>
  <p>This is a personal website to host my projects, including my art and writing.</p>
  <p>It is a work in progress, so expect to see changes over time.</p>
  <p>Thanks for dropping by.</p>

  <h2>Updates</h2>
  <p><b>03.29.2025</b> Various quality of life fixes! Added dark mode toggle, reader controls, 
    novel table of contents, mobile support, and other features. Debuting Proof of Existence today!</p>
  <p><b>03.19.2025</b> Now mostly mobile proof!</p>
  <p><b>03.16.2025</b> Putting together the basic framework of the site.</p>

  <h2>To do list</h2>
  <ul>
    <li>Auto-generate description in meta tags</li>
    <li>Add RSS feed</li>
    <li>Add guestbook</li>
    <li>And perhaps...more?</li>
  </ul>
</InsectSplashLayout>