---
import InsectSplashLayout from "../layouts/InsectSplashLayout.astro";
const pageTitle = "Projects";
---
<InsectSplashLayout pageTitle={pageTitle}>
  <h2>Projects</h2>
  <p><b>Proof of Existence:</b> My Webbed Novel. <a href="/proof-of-existence/" data-astro-reload>read here</a></p>
</InsectSplashLayout>