---
const { chapter, size, isIndexOnly } = Astro.props;
const prevLink = chapter <= 1 ? `../` : `../${chapter - 1}/`;
const prevText = chapter <= 1 ? "Back to Index" : `Chapter ${chapter - 1}`;
const nextLink = chapter >= size ? '../' : `../${chapter + 1}/`;
const nextText = chapter >= size ? "Back to Index" : `Chapter ${chapter + 1}`;
---
<div id="chapternav">
    <a class="chapternavbutton" href={prevLink}>
        <span class="chapter-chevron"><i class="fas fa-chevron-left"></i></span>
        <span class="chapternavtext">{prevText}</span>
    </a>
    {isIndexOnly && 
        <a class="chapternavbutton" href={nextLink} style="justify-content: right;">
            <span class="chapternavtext" style="text-align: right;">{nextText}</span>
            <span class="chapter-chevron"><i class="fas fa-chevron-right"></i></span>
        </a> 
    }
</div>
<style>
#chapternav {
    display: flex;
    border-top: 1px solid var(--accent-dark);
    border-bottom: 1px solid var(--accent-dark);
}
.chapternavbutton {
    display: flex;
    align-content: center;
    flex: 1;
    text-decoration: none;
    padding: 16px 8px;
    transition: all 0.2s ease-in-out;
    align-content: center;
    color: var(--accent-contrast-light);
}
.chapternavbutton > * {
    flex: initial;
    align-self: center;
}
.chapternavbutton:hover, .chapternavbutton:active {
    background-color: var(--accent-light);
    color: var(--accent-dark);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.chapternavtext {
    font-size: 2rem;
    font-variant: small-caps;
    padding: 10px 0;
    font-weight: 700;
    font-family: 'Flamenco';
}

.chapter-chevron {
    color: var(--accent-shadow);
    margin: auto 10px;
}

@media screen and (max-width: 550) {
    .chapternavtext  {
        font-size: 24px;
        line-height: 24px;
    }
}

@media screen and (prefers-color-scheme: dark) {
  #chapternav {
    border-color: var(--accent-light);
  }
}
</style>