---
const { chapter, size, isIndexOnly } = Astro.props;
const prevLink = chapter <= 1 ? `../` : `../${chapter - 1}/`;
const prevText = chapter <= 1 ? "Back to Index" : `Chapter ${chapter - 1}`;
const nextLink = chapter >= size ? '../' : `../${chapter + 1}/`;
const nextText = chapter >= size ? "Back to Index" : `Chapter ${chapter + 1}`;
---
<div id="chapternav">
    <a class="chapternavbutton" href={prevLink}>
        <svg class="chapter-chevron" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-dasharray="12" stroke-dashoffset="12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12l7 -7M8 12l7 7"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="12;0"/></path></svg>
        <span class="chapternavtext">{prevText}</span>
    </a>
    {isIndexOnly && 
        <a class="chapternavbutton" href={nextLink} style="justify-content: right;">
            <span class="chapternavtext" style="text-align: right;">{nextText}</span>
            <svg class="chapter-chevron" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-dasharray="12" stroke-dashoffset="12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12l-7 -7M16 12l-7 7"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="12;0"/></path></svg>
        </a> 
    }
</div>
<style>
#chapternav {
    display: flex;
    border-top: 1px solid var(--accent-dark);
    border-bottom: 1px solid var(--accent-dark);
}
.chapternavbutton {
    display: flex;
    flex: 1;
    text-decoration: none;
    padding: 16px 8px;
    transition: all 0.2s ease-in-out;
    align-content: center;
    align-items: center;
    color: var(--accent-contrast-light);
}
.chapternavbutton > * {
    flex: initial;
    align-self: center;
}
.chapternavbutton:hover, .chapternavbutton:active {
    background-color: var(--accent-light);
    color: var(--accent-dark);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.chapternavtext {
    font-size: 2rem;
    font-variant: small-caps;
    padding: 10px 0;
    font-weight: 700;
    font-family: 'Flamenco';
}

.chapter-chevron {
    color: var(--accent-shadow);
    margin: auto 10px;
}

@media screen and (max-width: 580px) {
    .chapternavtext  {
        font-size: 24px;
        line-height: 24px;
    }
}

@media screen and (prefers-color-scheme: dark) {
  #chapternav {
    border-color: var(--accent-light);
  }
}
</style>