---
const { title } = Astro.props;
---
<div id="comments">
    <h1 class="comment-header">Comments</h1>
    <div class="notice">
        <p>Hi! If you'd like to leave a comment, anonymously or no, all you need is an email and password. 
            You can also link it to your other social media accounts, except Twitter, because the Twitter API is quite broken.</p>
        <p>I look forward to hearing from you.</p>
        <p>Thanks for visiting my page!</p>
    </div>
    <div class="commentbox-wrapper">
        <div class="commentbox"></div>
        <script is:inline data-astro-rerun src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
        <script is:inline data-astro-rerun>commentBox('5759568818733056-proj', { subtextColor: '#461905'});</script>
    </div>
    <!-- <div id="cusdis-wrapper">
        <div id="cusdis_thread"
            data-host="https://cusdis.com"
            data-app-id="30c5b5ed-36a7-4e9a-b102-12c5aa2b886f"
            data-page-id={Astro.url.pathname}
            data-page-url={Astro.url}
            data-page-title={title}></div>
    </div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    <script is:inline data-astro-rerun>
        function reloadComments() {
            window.CUSDIS.initial();
            fixIframe();
        }
        function fixIframe() {
            let iframe = document.querySelector("#cusdis_thread iframe");
            if (iframe) {
                let observer = new MutationObserver(() => {
                    let scrollHeight = iframe.contentWindow.document.body.scrollHeight;
                    iframe.style.height = scrollHeight + "px";
                });
                observer.observe(iframe.contentWindow.document.body, { childList: true, subtree: true });
            }
        }
        document.addEventListener("astro:after-swap", function () { reloadComments(); });
        window.addEventListener('load', function () { fixIframe(); });
    </script> -->
</div>
<style>     
#comments {
    margin-top: 50px;
}
.comment-header {
    border-bottom: 1px solid var(--accent-light);
}
.notice {
    padding: 10px;
    font-size: 14px;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    border-radius: 3px;
    background-color: var(--accent-ultralight);
    margin-bottom: 10px;
}
.notice p {
    margin-top: 0;
    margin-bottom: 14px;
}
.notice p:last-child {
    margin-bottom: 0;
}
.commentbox-wrapper {
    padding: 5px;
    background-color: var(--commentbox-wrapper);
    border-radius: 5px;
}
</style>