---
const { title } = Astro.props;
---
<div id="comments">
    <h1 class="comment-header">Community Thoughts</h1>
    <div class="commentbox"></div>
    <script is:inline src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script is:inline>commentBox('5759568818733056-proj')</script>
</div>
<style>     
#comments {
    margin-top: 50px;
}
.comment-header {
    border-bottom: 1px solid var(--accent-light);
}
</style>