---
const { title } = Astro.props;
---
<div id="comments">
    <h1 class="comment-header">Comments</h1>
    <div id="cusdis_thread"
        data-host="https://cusdis.com"
        data-app-id="30c5b5ed-36a7-4e9a-b102-12c5aa2b886f"
        data-page-id={Astro.url.pathname}
        data-page-url={Astro.url}
        data-page-title={title}
    ></div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</div>
<style>     
#comments {
    margin-top: 50px;
}
.comment-header {
    border-bottom: 1px solid var(--accent-light);
}
</style>