---
---
<header class="topnav">
    <div class="logo">skolomorphic</div>
    <div class="mainlinkstoggle">
        <input type="checkbox" id="togglemenu">
        <label for="togglemenu" id="togglemenu-label">
            <i class="fas fa-chevron-down" id="togglemenu-icon"></i>
        </label>
    </div>
    <nav id="navlinks">
        <a href="/" data-astro-reload>Home</a>
        <a href="/projects" data-astro-reload>Projects</a>
        <a href="/about" data-astro-reload>About</a>
        <a href="/credits" data-astro-reload>Credits</a>
    </nav>
</header>
<style>
.topnav {
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: var(--accent-dark);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-gap: 10px;
    grid-template: 
        "logo links toggle"
        / minmax(100px, 1fr) minmax(500px, 80ch) minmax(100px, 1fr);
}

.mainlinkstoggle {
    display: none;
    grid-area: toggle;
    font-size: 24px;
    color: var(--accent-light);
}

#togglemenu {
    display: none;
}

#togglemenu-label {

}

/** NAVLINKS BASE */
.logo {
    font-family: 'Astloch';
    color: var(--accent-contrast-light);
    font-weight: 700;
    font-size: 45px;
    grid-area: logo;
    text-align: center;
}

.toggle-controls {
   grid-area: toggle;
}
#navlinks {
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
}
#navlinks a {
    color: var(--accent-light);
    text-decoration: none;
    padding: 16px 32px;
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;
    position: relative;
    font-family: 'Flamenco';
    font-variant: small-caps;
    flex: auto;
    text-align: center;
}
#navlinks a:hover, #navlinks a:active {
    color: var(--accent-light);
    text-decoration: underline wavy var(--accent-contrast-light);
    transform: rotate(5deg);
    transition: all 0.1s ease-in-out;
}
#navlinks a:nth-child(odd):hover, #navlinks a:nth-child(odd):active {
    color: var(--accent-light);
    text-decoration: underline wavy var(--accent-contrast-light);
    transform: rotate(-5deg);
}

/** NAVLINKS DECO */
#navlinks a::before {
    content: '𓆨';
    font-size: 50px;
    line-height: 0rem;
    position: absolute;
    margin: 0;
    padding: 0;
    color: var(--accent-contrast-light);
    display: inline-block;
    color: var(--accent-dark);
    transition: all 0.3s ease-in-out;
    display: none;
}
#navlinks a:nth-child(even)::before {
    transform: rotate(170deg);
    bottom: 0px;
}

#navlinks a:nth-child(odd)::before {
    transform: rotate(200deg) scale(1, -1);
    top: 5px;
}
#navlinks a:hover::before, #navlinks a:active::before {
    color: var(--accent-contrast-light);
    transition: all 0.3s ease-in-out;
    display: initial;
}

/** Ensure buttons still display when resizing browser after hiding menu */
.mainlinkstoggle:has(input[type="checkbox"]) ~ #navlinks {
        height: auto;
}

@media screen and (max-width: 1100px) {
    .topnav {
        grid-template: 
            "logo"
            "links"
            / 1fr;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        grid-template: 
            "toc logo linkmenu"
            "links links links"
            / 1fr 1fr 1fr;
        position: fixed;
    }

    #navlinks {
        flex-wrap: wrap;
    }

    #navlinks a {
        align-self: stretch;
        width: 100%;
    }

    #navlinks a::before {
        content: none;
        display: none;
    }

    .mainlinkstoggle {
        display: initial;
        color: var(--accent-light);
        grid-area: linkmenu;
        margin: auto;
    }

    .mainlinkstoggle:has(input[type="checkbox"]:checked) #togglemenu-label {
        background-color: var(--accent-shadow);
        border-radius: 15px;
        padding: 5px;
    }
    .mainlinkstoggle:has(input[type="checkbox"]) ~ #navlinks {
        height: 0;
        overflow: hidden;
    }

    .mainlinkstoggle:has(input[type="checkbox"]:checked) ~ #navlinks {
        height: auto;
    }
}
</style>