---
import { getCollection, render } from 'astro:content';
import BookLayout from '../../layouts/BookLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('proofOfExistence');
  return posts.map(post => ({
    params: { slug: post.data.chapter }, props: { post }
  }));
}

const posts = await getCollection('proofOfExistence');
const { post } = Astro.props;
const { Content } = await render(post);
---
<BookLayout frontmatter={post.data} 
  postsize={posts.length} 
  collectionName="proofOfExistence"
  headingsName="poeArcs" >
    <Content />
  { post.data.authorsNotes &&
    <div style="padding-top: 3rem;">
      <h2 style="border-bottom: double var(--accent-dark);">Author's Notes</h2>
      <div set:html={post.data.authorsNotes}></div>
    </div>
  }
</BookLayout>