---
import '../styles/root.css';
import '../styles/global.css';
import { ClientRouter } from "astro:transitions";
const { pageTitle } = Astro.props;
const isPoe = Astro.url.pathname.includes('proof-of-existence');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="skolomorphic" />
		<meta name="color-scheme" content="light dark" />
		<meta name="keywords" content="skolomorphic" />
		<meta name="description" content="skolomorphic's personal website" />
		<title>{pageTitle}</title>
		<ClientRouter />
		{
			isPoe &&
			<link rel="alternate" type="application/rss+xml"
				title="Proof of Existence | skolomorphic"
				href={new URL("/proof-of-existence/poe-rss.xml", Astro.site)}
			/>
		}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Astloch:wght@400;700&family=Flamenco:wght@300;400&family=Kumar+One+Outline&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>