---
import BaseLayout from './BaseLayout.astro';
import DarkModeToggle from '../components/DarkModeToggle.astro';
import '../styles/root.css';
import '../styles/global.css';
import '../styles/insect.css';
const { pageTitle } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <div id="darkmodetoggle">
        <DarkModeToggle />
    </div>
    <div id="wrapper">
        <div id="insect-header" align="center">
            <div class="insect-deco">𓆨</div>
            <div class="splash-header">skolomorphic</div>
        </div>
        <nav id="insect-nav" class="navlinks">
            <a href="/">home</a>
            <a href="/projects">projects</a>
            <a href="/about">about</a>
            <a href="/credits">credits</a>
        </nav>
        <div id="observation-jar">
            <div style="margin: 1rem;">
                <slot />
            </div>
        </div>   
    </div>
</BaseLayout>
